
        body{
            background-color: darkgrey;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
        }
        h1{
            color: royalblue; background-color: rgb(218, 201, 201);
        }
   